<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">E-Marketing</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>


    <li class="nav-item">
        <a class="nav-link" href="/sourceList">
            <i class="fas fa-users"></i>
            <span>Source List</span></a>
    </li>
    

    <li class="nav-item">
        <a class="nav-link" href="/createuser">
            <i class="fas fa-fw fa-table"></i>
            <span>User Email List</span></a>
    </li>
    

    <li class="nav-item">
        <a class="nav-link" href="/sendemail">
            <i class="fas fa-fw fa-table"></i>
            <span>Send Email</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/createemailtemplate">
            <i class="fas fa-fw fa-edit"></i>
            <span>Create Template</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/emailgatway">
            <i class="fas fa-fw fa-edit"></i>
            <span>Email Gatway</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/emailschedule">
            <i class="far fa-envelope"></i>
            <span>Email Scheduling</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/emaillogs">
            <i class="far fa-envelope"></i>
            <span>Email Logs</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

 
  

    <!-- Divider -->
    <!-- <hr class="sidebar-divider d-none d-md-block"> -->

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

 
</ul>